__pycache__/
venv/
.env
.venv
ppt.py 
*.pth
*.pptx

# Ignore large files and archives
*.tar.gz
*.tar
*.zip
*.rar
*.gif
kaggle_venv/
check_kaggle*.py

# Paper large binary assets
Paper/Client_GIFs_Final_25D/*
Paper/*.docx
paper/*.docx
